<!-- Start of Breadcrumb -->
<nav class="breadcrumb-nav mb-10">
    <div class="container">
        <ul class="breadcrumb">
            <li><a routerLink="">Home</a></li>
            <li>Wishlist</li>
        </ul>
    </div>
</nav>

<!-- End of Breadcrumb -->

<!-- Start of PageContent -->
<div class="page-content">
    <div class="container">
        <!-- <br><br> -->
        <div class="container mt-5 p-3 rounded cart">
            <div class="row no-gutters">
                <div class="col-md">
                    <div class="product-details mr-2">
                        <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span
                                class="ml-2">Continue Wishlist</span></div>
                        <hr>
                        <h6 class="mb-0">Wishlist</h6>
                        <div class="d-flex justify-content-between">
                            <span>You have {{countWishListItem()}} items in your wishlist</span>
                            <div class="d-flex flex-row align-items-center">
                                <!-- <span class="text-black-50">Sort by:</span> -->
                                <div class="price ml-3">
                                    <span class="mr-1">Price</span>
                                </div>
                                <div class="price ml-3">
                                    <span class="mr-1">Status</span>
                                </div>
                                <div class="price ml-3">
                                    <span class="mr-3">Actions</span>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let wishlist of wishlists; let index = index;" routerLink=""
                            class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                            <div class="d-flex flex-row">
                                <img class="rounded" src="{{wishlist.image}}" width="150">
                                <div class="ml-2">
                                    <span class="font-weight-bold d-block">{{wishlist.price}}</span>
                                    <span class="spec">{{wishlist.description}}</span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <span class="d-block">${{wishlist.price}}</span>
                                <span class="d-block ml-5 font-weight-bold">{{"Pending"}}</span>
                                <span style="color: rgb(194, 47, 47);" (click)="removeWishlist(index)"
                                    class="d-block ml-5 font-weight-bold">
                                    <i class="fa fa-trash"></i>
                                </span>
                                <i class="ml-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="social-links">
            <label>Share On:</label>
            <div class="social-icons social-no-color border-thin">
                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                <a href="#" class="social-icon social-email far fa-envelope"></a>
                <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
            </div>
        </div>
    </div>
</div>
<!-- End of PageContent -->