<app-header></app-header>
<router-outlet></router-outlet>
<app-sticky-footer></app-sticky-footer>
<app-footer></app-footer>

<!-- End of Sticky Footer -->
<!-- Start of Scroll Top -->
<app-scroll-top></app-scroll-top>
<!-- End of Scroll Top -->
<!-- Start of Mobile Menu -->
<app-mobilemenu></app-mobilemenu>
<!-- End of Mobile Menu -->
<!-- Start of Newsletter popup -->
<app-newsletter-popup></app-newsletter-popup>
<!-- End of Newsletter popup -->
<!-- Start of Quick View -->
<app-quick-view></app-quick-view>
<!-- End of Quick view -->